:root {
  --brand-color: hsl(358, 81%, 51%);
  --chr-primary-color-900: hsl(358, 81%, 24%);
  --chr-primary-color-800: hsl(358, 81%, 32%);
  --chr-primary-color-700: hsl(358, 81%, 40%);
  --chr-primary-color-600: hsl(358, 81%, 48%);
  --chr-primary-color-500: hsl(358, 81%, 51%);
  --chr-primary-color-400: hsl(358, 81%, 60%);
  --chr-primary-color-300: hsl(358, 81%, 68%);
  --chr-primary-color-200: hsl(358, 81%, 76%);
  --chr-primary-color-100: hsl(358, 81%, 84%);
  --chr-primary-color-50: hsl(358, 81%, 94%);
  --chr-text-dark-gray: hsl(0, 0%, 8%);
  --chr-text-gray-900: hsl(0, 0%, 12%);
  --chr-text-gray-800: hsl(0, 0%, 24%);
  --chr-text-gray-700: hsl(0, 0%, 32%);
  --chr-text-gray-600: hsl(0, 0%, 40%);
  --chr-text-gray-500: hsl(0, 0%, 48%);
  --chr-text-gray-400: hsl(0, 0%, 56%);
  --chr-text-gray-300: hsl(0, 0%, 64%);
  --chr-text-gray-200: hsl(0, 0%, 72%);
  --chr-text-gray-100: hsl(0, 0%, 96%);

  interpolate-size: allow-keywords;
}
#main-header {
  background-color: #202020;
  > div {
    width: 100%;
    max-width: 100%;
    padding-inline: 3.75rem;
  }

  .et-search-form input {
    background: #303030;
    color: white;
    padding: 0.5rem 1rem;
    height: max-content;
  }
}

#et-top-navigation {
  #top-menu-nav {
    #top-menu {
      > li {
        a {
          color: white !important;
        }
        ul.sub-menu {
          background-color: #202020;
          border-top: 3px solid hsl(358, 81%, 51%);
        }
      }
    }
  }
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 125%;
}

form.wpcf7-form {
  padding: 1rem;
  background-color: #e5e5e5;
  border-radius: 4px;

  input:not([type="submit"]),
  textarea,
  select {
    border: 0;
    border-block-end: 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    width: 100%;
  }

  input[type="submit"]:enabled {
    background-color: hsl(358, 81%, 51%);
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    transition: hover 0.2s ease;

    &:hover {
      background-color: hsl(358, 84%, 37%);
    }
  }

  input[type="submit"]:disabled {
    padding: 0.5rem 1rem;
    border: 1px solid hsl(355, 9%, 71%);
    border-radius: 2px;
    width: 100%;
  }

  p .wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    .wpcf7-form-control.wpcf7-acceptance {
      display: block;
      width: 100%;
      .wpcf7-list-item {
        display: block;
        width: 100%;
        margin: 0;
        label {
          display: flex;
          align-items: center;
          width: 100%;
          input[type="checkbox"] {
            width: max-content;
          }
        }
      }
    }
  }
}

/* #region UTILITY CLASSES START */
/* layouts */
.flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-col {
  flex-direction: column;
}

/* margins & paddings */
.mt-auto {
  margin-top: auto;
}

.my-auto {
  margin-block: auto;
}

.my-1 {
  margin-block: 0.25rem;
}

.my-2 {
  margin-block: 0.5rem;
}

.my-3 {
  margin-block: 0.75rem;
}

.my-4 {
  margin-block: 1rem;
}

.py-auto {
  padding-block: auto;
}

.py-1 {
  padding-block: 0.25rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.py-3 {
  padding-block: 0.75rem;
}

.py-4 {
  padding-block: 1rem;
}

/* heights and widths */
.h-full {
  height: 100%;
}

.h-full-vh {
  height: 100vh;
}

.w-full {
  width: 100%;
}

/* text colors */
.text-white {
  color: white;
}

/*button, links button-like elements */
.btn-primary {
  width: max-content;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: var(--chr-primary-color-500);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
  border: 0;

  &:hover {
    background-color: var(--chr-primary-color-700);
  }
}
/* #endregion UTILITY CLASSES END */
