:root {
  --brand-color: hsl(358, 81%, 51%);
  --chr-primary-color-900: hsl(358, 81%, 24%);
  --chr-primary-color-800: hsl(358, 81%, 32%);
  --chr-primary-color-700: hsl(358, 81%, 40%);
  --chr-primary-color-600: hsl(358, 81%, 48%);
  --chr-primary-color-500: hsl(358, 81%, 51%);
  --chr-primary-color-400: hsl(358, 81%, 60%);
  --chr-primary-color-300: hsl(358, 81%, 68%);
  --chr-primary-color-200: hsl(358, 81%, 76%);
  --chr-primary-color-100: hsl(358, 81%, 84%);
  --chr-primary-color-50: hsl(358, 81%, 94%);
  --chr-text-dark-gray: hsl(0, 0%, 8%);
  --chr-text-gray-900: hsl(0, 0%, 12%);
  --chr-text-gray-800: hsl(0, 0%, 24%);
  --chr-text-gray-700: hsl(0, 0%, 32%);
  --chr-text-gray-600: hsl(0, 0%, 40%);
  --chr-text-gray-500: hsl(0, 0%, 48%);
  --chr-text-gray-400: hsl(0, 0%, 56%);
  --chr-text-gray-300: hsl(0, 0%, 64%);
  --chr-text-gray-200: hsl(0, 0%, 72%);
  --chr-text-gray-100: hsl(0, 0%, 96%);

  interpolate-size: allow-keywords;
}
#main-header {
  background-color: #202020;
  @media (min-width: 1024px) {
    > div {
      width: 100%;
      max-width: 100%;
      padding-inline: 3.75rem;
    }
  }

  .et-search-form input {
    background: #303030;
    color: white;
    padding: 0.5rem 1rem;
    height: max-content;
  }
}

#et-top-navigation {
  #top-menu-nav {
    #top-menu {
      > li {
        a {
          color: white !important;
        }
        ul.sub-menu {
          background-color: #202020;
          border-top: 3px solid hsl(358, 81%, 51%);
        }
      }
    }
  }
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 125%;
}

form.wpcf7-form {
  padding: 1rem;
  background-color: #e5e5e5;
  border-radius: 4px;

  input:not([type="submit"]),
  textarea,
  select {
    border: 0;
    border-block-end: 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    width: 100%;
  }

  input[type="submit"]:enabled {
    background-color: hsl(358, 81%, 51%);
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    transition: hover 0.2s ease;

    &:hover {
      background-color: hsl(358, 84%, 37%);
    }
  }

  input[type="submit"]:disabled {
    padding: 0.5rem 1rem;
    border: 1px solid hsl(355, 9%, 71%);
    border-radius: 2px;
    width: 100%;
  }

  p .wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    .wpcf7-form-control.wpcf7-acceptance {
      display: block;
      width: 100%;
      .wpcf7-list-item {
        display: block;
        width: 100%;
        margin: 0;
        label {
          display: flex;
          align-items: center;
          width: 100%;
          input[type="checkbox"] {
            width: max-content;
          }
        }
      }
    }
  }
}

#subscribe-to-newsletters {
  position: fixed;
  z-index: 999;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  padding: 1rem;
  background: var(--chr-primary-color-500)
    url("/wp-content/uploads/2025/11/sub_newsletters.png") center no-repeat;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 0;
  display: flex;
  place-items: center;
  width: 60px;
  height: 60px;
}

.default_link {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(currentColor, currentColor);
  background-size: 100% 0.0625rem, 0 0.0625rem;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease;
  text-decoration: none;

  &:hover {
    background-size: 0 0.0625rem, 100% 0.0625rem;
  }
}

.home_hero-row {
  .et_pb_module_header {
    font-size: clamp(1.5rem, 1.481vw + 1.222rem, 3rem);
  }
}

.our-work-section-homepage-details {
  article {
    margin-block-end: 1.5rem;
    padding-block: 1rem;

    h1 {
      font-size: clamp(1.25rem, 0.37vw + 1.181rem, 1.625rem);
    }

    a {
      color: white;
      border-block-end: 1px dotted white;
      padding-block: 0.5rem;

      &:hover {
        color: var(--chr-primary-color-500);
        border-block-end: 1px solid transparent;
      }
    }
  }
}

#footer-bottom {
  display: none !important;
}

/* #region UTILITY CLASSES START */
/* displays */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.d-block {
  display: block;
}

/* column layouts */
.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* spacings and gaps */
.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.space-between {
  justify-content: space-between;
}

/* margins & paddings */
.mt-auto {
  margin-top: auto;
}

.mt-4 {
  margin-top: 1rem;
}

.my-auto {
  margin-block: auto;
}

.my-1 {
  margin-block: 0.25rem;
}

.my-2 {
  margin-block: 0.5rem;
}

.my-3 {
  margin-block: 0.75rem;
}

.my-4 {
  margin-block: 1rem;
}

.mb-4 {
  margin-block-end: 1rem;
}

.py-auto {
  padding-block: auto;
}

.py-1 {
  padding-block: 0.25rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.py-3 {
  padding-block: 0.75rem;
}

.py-4 {
  padding-block: 1rem;
}

/* heights and widths */
.h-full {
  height: 100%;
}

.h-full-vh {
  height: 100vh;
}

.w-full {
  width: 100%;
}

/* text colors */
.text-white {
  color: white;
}

/*button, links button-like elements */
.btn-primary {
  width: max-content;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: var(--chr-primary-color-500);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
  border: 0;

  &:hover {
    background-color: var(--chr-primary-color-700);
  }
}
/* #endregion UTILITY CLASSES END */

.footer_nav {
  .footer_nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
    .footer_nav_list_item {
      color: white;
      padding-inline-end: 0.5rem;
    }
  }
}

.footer_sub_link {
  margin-block: 1rem;
  a {
    padding: 0.5rem 1rem;
    background-color: var(--chr-text-gray-100);

    &:hover {
      background-color: var(--chr-primary-color-500);
      color: white;
    }
  }
}

.footer_discover_charltons,
.footer_socials {
  h2,
  h3,
  h4 {
    color: var(--chr-text-gray-100);
    font-weight: 600;
  }
  p,
  a {
    color: var(--chr-text-gray-100);
    font-weight: 300;
    font-size: 14px;
  }
}

.post_body_content_wrapper {
  @media (min-width: 1024px) {
    margin-top: -10rem !important;
    padding-inline: 4rem;
    padding-block-start: 4rem;
    background-color: white;
  }
}

.home_about-us-section {
  > div {
    border-block-end: 1px dotted white;
    padding-block-end: 0.5rem;

    > div {
      margin-block: auto;

      &:hover {
        .et_pb_code_inner {
          a {
            color: var(--chr-primary-color-500);
          }
        }
      }
    }

    .et_pb_code_inner {
      a {
        color: white;
        font-size: clamp(1.125rem, 0.247vw + 1.079rem, 1.375rem);
        font-weight: 600;
      }
    }
  }
}
