/* ==========================================================================
   LAYOUT
   ========================================================================== */

.grecaptcha-badge {
  z-index: -10 !important;
}


/* ==========================================================================
   DISPLAY
   ========================================================================== */

.d-block {
  display: block;
}

.d-none {
  display: none !important;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.row {
  display: flex;
}

/* ==========================================================================
   FLEXBOX
   ========================================================================== */

.flex-w-full {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.flex-col-sm {
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.content-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

/* ==========================================================================
   GRID
   ========================================================================== */

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.grid-col-md-2 {
  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-col-md-3 {
  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ==========================================================================
   GAP
   ========================================================================== */

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 1.5rem;
}

.gap-3 {
  gap: 2rem;
}

.gap-4 {
  gap: 2.5rem;
}

.gap-5 {
  gap: 3rem;
}

.row-gap-3 {
  row-gap: 2rem;
}

.row-gap-4 {
  row-gap: 2.5rem;
}

/* ==========================================================================
   MARGIN
   ========================================================================== */

.mx-auto {
  margin-inline: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 2.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 3.5rem;
}

.mt-7 {
  margin-top: 4rem;
}

.mt-8 {
  margin-top: 4.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.my-auto {
  margin-block: auto;
}

.my-1 {
  margin-block: 0.25rem;
}

.my-2 {
  margin-block: 0.5rem;
}

.my-3 {
  margin-block: 0.75rem;
}

.my-4 {
  margin-block: 1rem;
}

.my-5 {
  margin-block: 1.25rem;
}

.my-6 {
  margin-block: 1.5rem;
}

.my-7 {
  margin-block: 1.75rem;
}

.my-8 {
  margin-block: 2rem;
}

/* ==========================================================================
   PADDING
   ========================================================================== */

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.py-1 {
  padding-block: 0.25rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.py-3 {
  padding-block: 1rem;
}

.py-4 {
  padding-block: 1.25rem;
}

.py-5 {
  padding-block: 1.5rem;
}

.py-6 {
  padding-block: 1.75rem;
}

.px-1 {
  padding-inline: 0.25rem;
}

.px-2 {
  padding-inline: 0.5rem;
}

.px-3 {
  padding-inline: 0.75rem;
}

.px-4 {
  padding-inline: 1rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr {
  padding-right: 1.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.padding-inline-60 {
  padding-inline: 60px;
}

/* ==========================================================================
   WIDTH & HEIGHT
   ========================================================================== */

.h-full {
  height: 100%;
}

.h-full-screen {
  height: 100vh;
  height: 100dvh;
  height: 100svh;
}

.height-60 {
  height: 60vh;
  height: 60dvh;
  height: 60svh;

  @media (max-width: 992px) {
    height: max-content;
  }
}

.height-40 {
  height: 40vh;
  height: 40dvh;
  height: 40svh;

  @media (max-width: 992px) {
    height: max-content;
  }
}

.w-full {
  width: 100%;
}

.w-max-content {
  width: max-content;
}

.w-50 {
  width: 100%;

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.max-content {
  width: max-content;
}

/* ==========================================================================
   POSITION
   ========================================================================== */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* ==========================================================================
   Z-INDEX
   ========================================================================== */

.z-index-10 {
  z-index: 10;
}

/* ==========================================================================
   COLORS
   ========================================================================== */

.chr-primary {
  color: var(--chr-primary-color);
}

.text-white {
  color: white !important;
}

.text-gray-800 {
  color: #3d3d3d !important;
}

.text-gray-700 {
  color: #525252 !important;
}

.text-gray-500 {
  color: #7d7d7d;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.btn-link {
  margin-block: 1rem;
  font-size: clamp(1rem, 0.9235rem + 0.4082vw, 1.25rem);

  &:hover {
    text-decoration: underline;
    color: #ff0009 !important;
  }
}

.btn-primary {
  width: max-content;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: var(--chr-primary-color-500);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
  border: 0;

  &:hover {
    background-color: var(--chr-primary-color-700);
  }
}

.btn_pill {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 100px;
  border: 1px solid black;
  background-color: white;
  color: var(--chr-text-gray-900) !important;

  &:hover {
    color: white !important;
    background-color: #e71d24;
    border: 1px solid #e71d24;
  }
}

.cta_btn_link {
  width: max-content;
  color: white;
  display: block;
  font-size: 1rem;
  padding: 10px 20px;
  margin-block: 1rem;
  background-color: var(--chr-primary-color-500);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:hover {
    background-color: var(--chr-primary-color-700);
  }
}

.cta_btn_link.white-cta {
  background-color: transparent;
  border: 1px solid white;

  &:hover {
    color: var(--chr-primary-color);
    border-color: var(--chr-primary-color);
  }
}

/* ==========================================================================
   BORDERS
   ========================================================================== */

.border-0 {
  border: 0;
}

.border-1 {
  border: 1px solid #cdcdcd;
}

.border-block-1 {
  border-block: 1px solid #cdcdcd;
  margin-block: 1rem;
}

.border-top-1 {
  border-top: 1px solid var(--chr-text-gray-900);
}

.border-bottom-1 {
  border-bottom: 1px solid var(--chr-text-gray-900);
}

.border-left-1 {
  border-left: 1px solid var(--chr-text-gray-900);
}

.border-right-1 {
  border-right: 1px solid var(--chr-text-gray-900);
}

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-underline {
  text-decoration: underline !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-xs {
  font-size: clamp(0.75rem, 0.224vw + 0.607rem, 0.875rem);
}

.text-sm {
  font-size: clamp(0.875rem, 0.9235rem + 0.2041vw, 1.25rem);
}

.text-medium {
  font-size: clamp(1rem, 0.9235rem + 0.2041vw, 1.25rem);
}

.text-lg {
  font-size: clamp(1.125rem, 0.9235rem + 0.2041vw, 1.25rem);
}

.text-xl {
  font-size: clamp(1.25rem, 1.0204rem + 1.2245vw, 2rem);
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-bolder {
  font-weight: 800;
}

/* ==========================================================================
   OPACITY
   ========================================================================== */

.opacity-1 {
  opacity: 0.1;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-8 {
  opacity: 0.8;
}

/* ==========================================================================
   OVERFLOW
   ========================================================================== */

.overflow-hidden {
  overflow: hidden;
}

.overflow-clip {
  overflow: clip;
}

/* ==========================================================================
   CURSOR
   ========================================================================== */

.cursor-pointer {
  cursor: pointer;
}

/* ==========================================================================
   LIST STYLES
   ========================================================================== */

.ul {
  list-style-type: none !important;
  padding: 0 !important;
}

/* ==========================================================================
   DIVI THEME OVERRIDES
   ========================================================================== */

sup {
  font-size: 10px !important;
}

.et_pb_text_0,
.et_pb_text_1,
.et_pb_text_2,
.et_pb_text_3,
.et_pb_text_4 {
  max-height: max-content !important;
  z-index: unset !important;
}

.posts-skeleton-loader {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
}

.skeleton-card {
  background: #f3f3f3;
  /* border-radius: 8px;
  margin-bottom: 16px; */
  height: 180px;
  animation: pulse 1.2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #f3f3f3;
  }

  50% {
    background-color: #ececec;
  }

  100% {
    background-color: #e3e3e3;
  }
}

.d-none {
  display: none !important;
}