/* ================================================= */
/* #region KEYFRAMES ANIMATIONS::START  */
/* ================================================= */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes movedown {
  0% {
    top: 0px;
  }

  50% {
    top: 0px;
  }

  100% {
    top: 70px;
  }
}

@keyframes animate__fadeInDown {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 447px;
  }
}

@keyframes animate__fadeOutUp {
  from {
    height: 447px;
  }

  to {
    padding-block: 0;
    border: 0;
    height: 0px;
  }
}

@keyframes showSearchForm {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideSearchForm {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes rgba_bg {
  0% {
    background-color: rgba(0, 0, 0, 0.4);
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes rotateCloseIcon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-45 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

/* ================================================= */
/* #endregion KEYFRAMES ANIMATIONS::END  */
/* ================================================= */