/* #region UTILITY CLASS */
:root {
    --fs-h2: 2.488rem;
    --fs-h3: 2.074rem;
    --fs-h4: 1.728rem;
    --fs-h5: 1.44rem;
    --fs-h6: 1.2rem;
    --ff-primary: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    --ff-mono: 'Jetbrains Mono', Courier, monospace;

    --color-body-text: #161616;
    --dm-white-text: #f8f8f8;
}

html,
body {
    overscroll-behavior: none;
}

a.default_link {
    background-image:
        linear-gradient(transparent, transparent),
        linear-gradient(currentColor, currentColor);
    background-size:
        100% 0.0625rem,
        0 0.0625rem;
    background-position:
        100% 100%,
        0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-size:
            0 0.0625rem,
            100% 0.0625rem;
    }
}

.font-mono {
    font-family: var(--ff-mono);
}

.font-primary {
    font-family: var(--ff-primary);
}

.text-white {
    color: white;
}

.text-default-color {
    color: var(--color-body-text);
}

.all-caps {
    text-transform: uppercase;
}

.fw-light {
    font-weight: 300;
}

.fs-small {
    font-size: 13px;
}

/* grids & flex */
.flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.gap {
    gap: 0.25rem;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 0.75rem;
}

.gap-3 {
    gap: 1rem;
}

.gap-4 {
    gap: 1.25rem;
}

.gap-5 {
    gap: 1.5rem;
}

.gap-6 {
    gap: 1.75rem;
}

.gap-7 {
    gap: 2rem;
}

.space-nowrap {
    white-space: nowrap;
}

/* #endregion UTILITY CLASS */

/* #region HEADER NAVIGATION */
header#main-header {
    @media (max-width:768px) {
        display: flex;
        align-items: center;

        div.et_menu_container {
            margin: 1rem;
            width: 100%;
        }
    }
}

/* #endregion HEADER NAVIGATION */

/* #region HOME PAGE | HERO SECTION  */

footer_logo_wrapper .hero_section {
    /* .et_pb_row{
        widt;
    } */
}

.et_block_section.home-sec {
    display: flex;
    flex-direction: column;

    section.hero-sec {
        flex: 1;
    }

    @media (min-width: 882px) {
        min-height: 70dvh;
    }
}

section.et_pb_fullwidth_header.hero-sec {
    .header-content.et_flex_module {
        width: 100%;
        max-width: 100%;
        margin-inline: 0;

        h1.et_pb_module_header {
            text-wrap: pretty;
            text-transform: capitalize;
        }

        span.et_pb_fullwidth_header_subhead {
            text-wrap: pretty;
        }

        @media (min-width:1024px) {
            max-width: 70%;
            margin-inline: auto;
        }
    }
}

/* CSS Marquee Animation */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.slider {
    background-color: #181818;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 40px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-block: 1px dotted #ff8400;

    .slide-track {
        display: flex;
        width: max-content;
        height: 100%;
        animation: scroll-left 70s linear infinite;
        will-change: transform;

        .slide {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            height: 100%;
            white-space: nowrap;

            span {
                font-family: var(--ff-mono);
                display: block;
                white-space: nowrap;
                font-size: 14px;
                font-weight: 300;
                color: hsl(31, 100%, 50%);

                &::after {
                    content: " | ";
                    padding-inline: 2rem;
                }
            }
        }
    }

    &:hover {
        .slide-track {
            animation-play-state: paused;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .slide-track {
        animation: none;
    }
}

/* #endregion HOME PAGE | HERO SECTION  */

/* #region HOME PAGE | FOOTER SECTION  */
footer {

    .footer_sec_details_wrapper {
        >div {
            flex: 1;

            &:last-child {
                flex: none;

                >div {
                    gap: .5rem;
                }
            }
        }
    }

    .footer_logo_img .et_pb_image_wrap img {
        max-width: 80px;

        @media (min-width:1024px) {
            max-width: 150px;
        }
    }

    .footer_group_wrapper {
        gap: 1rem;

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: var(--ff-mono);
            font-weight: 300;
            padding: 0;
            margin: 0;
        }
    }

    .footer_group_link_wrapper {
        display: flex;
        flex-direction: column;

        a {
            width: max-content;

            &:hover {
                color: #fbba89 !important;
            }
        }
    }



    .footer_group_link_wrapper {
        gap: .2rem;

        a {
            font-weight: 300;
        }
    }

    .footer_contacts_wrapper {
        border-block: .75px solid #ffb881cb;
        padding-block: 1rem;
        row-gap: 0.5rem;

        >div {
            flex: 1;

            a {
                font-size: 13px;
                font-weight: 300;
            }

            @media (max-width:768px) {
                &:last-child {
                    justify-content: right;
                }
            }
        }
    }

    .footer_social_wrapper {
        a {
            font-size: 13px;
            font-weight: 300;
        }
    }
}

/* #endregion HOME PAGE | FOOTER SECTION  */



.et_fullscreen_slider .et_pb_slides,
.et_fullscreen_slider .et_pb_slide,
.et_fullscreen_slider .et_pb_container {
    min-height: 100% !important;
    height: 100% !important;
}

h1.kw,
h2.kw,
h3.kw,
h4.kw,
h5.kw,
h6.kw {
    /* HEADER TAGS */
    color: #4d4d4d;
    display: inline;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em !important;
}

h1.kw:after,
h2.kw:after,
h3.kw:after,
h4.kw:after,
h5.kw:after,
h6.kw:after {
    content: " | ";
}


.et_pb_text_1 {
    text-align: justify;
}

.et_pb_blog_grid .et_pb_post a {
    color: #ffd13c;
    font-weight: bold;
}

.et_pb_blog_grid .et_pb_post p {
    color: #ffd13c;
    line-height: 1.2em;
}

.et_pb_blog_grid .et_pb_post {
    background-color: #000;
}

#footer-info {
    color: #ffd13c !important;
    font-weight: bold;
}


.et_pb_section {
    padding-top: 0px;
}

.et_pb_row.et_pb_row_0.et_pb_gutters1 {
    padding-top: 0;
}

.et_pb_image_0 .et_pb_image_wrap,
.et_pb_image_0 img {
    width: 100%;
}

#main-content .container:before {
    background-color: #ffd13c;
}

h1.entry-title {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 30px;
}

.et_pb_text_1 h2,
.et_pb_text_1 h3,
.et_pb_text_1 h4 {
    font-size: 1.25em;
    font-weight: bold;
}

/* FAQ Guide pages - Accordion */
@media (max-width: 1024px) {

    .faq-title::after,
    .faq-title h2,
    .faq-content h3,
    .faq-content h4 {
        font-size: 16px;
    }
}

.faq-content h5 {
    font-size: 16px;
}

.faq-content h2,
.faq-content h3,
.faq-content h4,
.faq-content h5,
.faq-content p {
    line-height: 1.7;
}

.faq-content {
    display: none;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.faq-title h2 {
    width: 95%;
}

.faq-title {
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.faq-title::after {
    content: "+";
    position: absolute;
    right: 0;
    font-weight: bold;
    font-size: 24px;
    color: #ff6e00;
}

.faq-title.active::after {
    content: "-";
}